################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/OllamaApi/bin/Debug
/OllamaApi/obj
